# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# VS Code files

# Mac/Linux file metadata
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
config.bat
node_modules
